@import "../../../custom-variables";

.modal {
  .modal-dialog {
    width: auto;
    @include fadein;

    img {
      max-width: 100%;
    }

    .modal-header {
      background: $accent;
      color: $inverse;
      border-bottom: $accent;

      a {
        color: $inverse;
      }
    }

    .modal-block {
      img {
        @include fadein;
      }
    }

    .btn-primary {
      background: $accent2;
      border-color: $accent2;
    }

    .btn-secondary {
      color: $inverse;
    }
  }
}
