@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600");
@import url("https://use.fontawesome.com/releases/v5.0.13/css/all.css");

$bg:#ffffff;
$accent:#F05352;
$accent2:#00aeff;
$inverse:#ffffff;

$sidebar-color:$accent;
$font-stack:"Montserrat",
Helvetica,
Arial,
sans serif;
$font-size:14px;
$breakpoint:768px;

//SHADOW
@mixin shadow {
  -webkit-box-shadow: 0px 0px 20px -7px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 20px -7px rgba(0, 0, 0, 0.8);
  -ms-box-shadow: 0px 0px 20px -7px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 20px -7px;
}

//DEFAULT ANIMATION TRANSITION
@mixin transition() {
  transition: 0.3s all;
}
