<!--Sidebar for Navigation-->
<div class="sidebar">
  <h1><i class="fas fa-camera-retro"></i></h1>
  <h1>RandomUnsplash</h1>
  <div class="input-group mb-2 mt-4 px-4 d-flex justify-content-center">
    <form id="sForm" class="d-flex justify-content-center flex-row flex-nowrap" (submit)="search($event)">
      <input name="search" [(ngModel)]="val" required type="text" class="form-control" id="inlineFormInputGroup"
        placeholder="Search">
      <div class="input-group-append">
        <button type="submit" form="sForm" class="input-group-text"><i class="fas fa-search"></i></button>
      </div>
    </form>
  </div>
</div>
